* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F1FDFB;
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    height: auto;
    padding: 25px;
    background-color: #D4FFFE;
    position: fixed;
    top: 0;
    z-index: 2;
    text-align: center;
}

.navigation {
    display: inline-block;
    width: 100%;
    margin: 20px auto;
}
.navigation img {
    width: 30px;
}
.navigation ul {
    display: inline;
    width: 100%;
}
.navigation li {
    list-style: none;
    display: inline;
    margin-right: 50px;
    padding: 15px;
    border-radius: 25px;
    background-color:#c9faf9 ;
    cursor: pointer;
    font-size: 20px;
}
.navigation li a {
    text-decoration: none;
    color: #777676;
}
.navigation li img {
    position: relative;
    top: 5px;
}

.hero {
    margin-top: 100px;
    width: 100%;    
}

.hero--box {
    width: 700px;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    background-color: #c9faf9;
    position: relative;
    top: -200px;
}
.box--h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    line-height: 60px;
    color: #2b3e50;
    margin-bottom: 20px;
    text-align: center;
}
.hero--box p {
    font-size: 18px;
    color: #777676;
    line-height: 30px;
    text-align: justify;
    max-width: 600px;
}
.hero--imagem {
    display: inline-block;
    width: 500px;
    max-width: 500px;
    margin-left: 10%;
    left: 50px;
    bottom: 50px;
}

.numbers {
    display: inline-block; 
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    background-color:#c9faf9 ;
    position: relative;
    text-align: center;
}
.numbers img {
    display: inline-block;
    position: absolute;
    top: -125px;
    left: 100px;
}
.numbers--box {
    display: inline-block;
    margin: 20px;
    width: 15%;
    font-size: 20px;
    font-weight: 700;
    color: #777676;  
}
.numbers--box h3 {
    text-decoration: underline;
}
.numbers--box p {
    color: #000;
}



.whatsapp {
    width: 70px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}


